.btn
{
    border:solid white !important;
    color:white !important;
    text-transform:none;
}
.layout
{
    height:6em;
    display:grid;
    grid-template-columns:2fr 1fr 1fr;
    column-gap: 1.2em;
    margin: 1em .4em;
}
.load:hover
{
    border:solid black !important;
}