.recipes
{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 0 .2em;
}
#card
{
    margin: 1em .5em;
    flex: 0 0 auto;
    width: 48%;
}
#card:hover
{
    box-shadow: 2px 5px;
}
#card-image
{
    height: 0;
    padding-top: 60%;
}
.cardHead
{
    position: relative;
    display: inline-block;
}
.cardHead .cardTip
{
    display:none;
    width: auto;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /*Positioning */
    position: absolute;
    z-index: 1;
    top:0
}
.cardHead:hover .cardTip
{
    display: block;
}
